extends layout

block content
  h1= title
  p Use the form below to add a Contact.
  hr
  if msg
    p(class='redtext')= msg
  form(action="/contacts/add", method="post")
    table(style='width:30%;')
      tr
        td 
          label(for="firstName") First Name
        td
          input(type="text", name="firstName")
      tr 
        td
          label(for="lastName") Last Name
        td
          input(type="text", name="lastName")
      tr
        td
          label(for="emailAddress") Email Address
        td
          input(type="email", name="emailAddress")
      tr
        td
          label(for="notes") Notes
        td
          textarea(name='notes')
    br
    br
    table(style='width:30%;')
      tr
        td
          button(type="submit") Create Contact
        td
          a(href="/contacts") Cancel