extends layout

block content
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1(class='center underline') Welcome to Students Registration Portal 
  br
  br
  div(class='center')
    a(href="/login/federated/google") 
      button(type="button") Click here to Sign in with Google