extends layout

block content
  title= title
  link(rel='stylesheet', href='/stylesheets/style.css')
  h1(class='center underline') Hello This Is Akhilesh Angadi
  h5(class='center underline') My Contact Number: +91 9738045396 
  br
  h1(class='center underline') Welcome To ITMD 542 Class
  h3(class='redtext') In this Class you will learn about the Full Stack Web Development
  Label Lab 3 - Build a Contact Database and store the data in SQL Lite:
  | 
  a(href="/contacts") 
    button(type="button") Click here to View All Contacts
